<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <div class="logo d-flex align-items-center me-auto">
            <img th:src="@{/assets/img/malhaebang/logo.png}" alt="Logo" style=" ">        </div>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="mypage.html" class="active">챗봇</a></li>
                <li><a href="mypage.html">둘러보기</a></li>
                <li><a href="map/">지역분석</a></li>
                <li><a href="mypage.html">뉴스</a></li>
                <li><a href="mypage.html">MY</a></li>
                <li><a href="mypage.html">Login</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>